body{
    margin: 0;
   background-image: url(model3.jfif);
   background-size:100%;
   
   background-repeat: no-repeat;
  
    
}
.main{
    display: flex;
}
.nav2{

    margin-left: auto ;

}
.nav2 a{
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    
}
.logo{
    height:20px ;
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
}
.shop{
  margin-left: 240px;
  margin-right: 50px;
    
}
.menu{
    /* padding: 30px; */
    margin-right: 30px;
}
 .nav2{ 
    display: flex;
    align-items: center;
    margin-top: 10px;
} 
.model{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.order{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}
.t{
     margin-left: 5px;
     color: black;
}
.buttons{
    margin-top: 365px;
    margin-left: 400px;
}
.button1{
    height: 35px;
    width: 210px;
    background-color: black;
    color: white;
}
.button2{
    height: 35px;
    width: 210px;
    margin-left: 40px;

}
